Comandos
Ej3_Vinos/salida_vinos
Ej3_Vinos/salida_vinos_mapper
Ej2_Logs/salida_logs
Ej2_Logs/salida_logs_mapper
Ej1_Temperaturas/salida_temperaturas
Ej1_Temperaturas/salida_temperaturas_mapper
Prueba_ContarPalabras/salida_libros
Prueba_ContarPalabras/salida_libros_mapper